@import "compass/css3";

html {

}

body {
  margin: 0;
  border: 0;
  padding: 0;

	width:100%;
	background-size: cover;
  background-image:url("background_veg.jpg");
}

header{
  background-color: rgba(0,0,0,0.7);
  border-bottom: 1px solid white;
  padding-top: 0px;
}

form{
  width:100%;
  margin: 0 auto;
}

*:focus {
    outline: none;
}

















.Adv-Opt{
  display: inline-block;
	border: 1px solid #ccc;
	width: 120px;
	border-radius: 3px;
	overflow: hidden;
	background-color:green;

  background: #fafafa;
}

.Adv-Opt select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: rgb(80,200,80);
    background-image: none;
		font-size: 14	px;
}

.Adv-Opt select:focus {
    outline: none;
}

option:hover {
    outline: none;
		color:purple;
}



/* SEARCH CSS --------------------------------------------------------------------*/
#boxAndDropdown{

}

#bgimageContainer{
	margin: 0;
  border: 0;
  padding: 0;

	width:100%;
	background-size: cover;
  background-image:url("background_veg.jpg");
}


#searchBox{
  background-image:url("search_icon.png");
  padding: 12px 20px 12px 50px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border-radius:25px;
  border:1px solid grey;
  width:25%;
  margin-top:200px;

  background-position: left center;
  background-position: 10px 10px;

  transition: width 0.4s;
}

#searchBox:focus{
	background-image:url("search_icon.png");
  padding: 12px 20px 12px 50px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border-radius:25px;
  border:1px solid grey;
  width:25%;
  margin-top:200px;

  background-position: left center;
  background-position: 10px 10px;
  width: 32%;
}

#blackwrapper{
  background-color: rgba(2,2,2,0.60);
  margin: 0;
  border: 0;
  padding: 0;
  height:100vh;
}

#Title{
  margin: 0;
  border: 0;
  padding: 0;
  color:white;
  font-size: 65px;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin-left: 5%;
}

#maindiv{
  width:100%;
  text-align: center;
}

#Recipes{
  color:white;
  margin:0;
  margin-left: 54%;
}

a{
  text-decoration: none;
}

#Ingredients{
  color:white;
  margin:0;
  margin-left: 3%;
}

#searchBtn{
	border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 10%;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 10px;
	margin-left: 3%;
	font-family: 'Merriweather Sans', sans-serif;

  display: inline-block;
}

#searchBtn:hover{
  transition: transform 0.2s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* CARD CSS -------------------------------------------------------------------------*/
.card{
	text-align:center;

}

.image.is-square{
	margin:0;
	width:300px;
	background-color:purple;
}

.card-image{
	margin:0;
	background-color:red;
}

.cardContainer{
  margin: 0 auto;
  background-color: blue;
}


/*Nutrition Label -------------------------------------------------------------*/
.image {
  width: 250px;
  float: left;
  margin: 20px;
}

body {
  font-size: small;
  line-height: 1.4;
}

p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 280px;
  padding: 0.5rem;
  background-color: white;
}
.performance-facts table {
  border-collapse: collapse;
}

.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 10px solid black;
  background-color: white;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
  margin: 0;
}

.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
  width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th,
.performance-facts__table thead tr td,
.performance-facts__table--small thead tr td,
.performance-facts__table--grid thead tr td {
  border: 0;
}
.performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th,
.performance-facts__table td,
.performance-facts__table--small td,
.performance-facts__table--grid td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}
.performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
  text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
  width: 1rem;
  border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th,
.performance-facts__table .thick-row td,
.performance-facts__table--small .thick-row td,
.performance-facts__table--grid .thick-row td {
  border-top-width: 5px;
}

.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
  border-bottom: 1px solid black;
}
.performance-facts__table--small td:last-child {
  text-align: left;
}
.performance-facts__table--small th,
.performance-facts__table--small td {
  border: 0;
  padding: 0;
}

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
  text-align: left;
}
.performance-facts__table--grid td:last-child::before {
  content: "•";
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

.text-center {
  text-align: center;
}

.thick-end {
  border-bottom: 10px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}
