@import "compass/css3";

html {

}

body {
  margin: 0;
  border: 0;
  padding: 0;

	width:100%;
	background-size: cover;
  background-image:url("background_veg.jpg");
}

header{
  background-color: rgba(0,0,0,0.7);
  border-bottom: 1px solid white;
  padding-top: 0px;
}

form{
  width:100%;
  margin: 0 auto;
}

#Login{
  text-decoration: none;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
  color:white;
  display: inline-block;
  margin-left: 60%;
}

#Login:hover{
  color: #f4511e;
}

#Signup{
  text-decoration: none;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
  color:white;
  display: inline-block;
  margin-left: 2%;
}

#Signup:hover{
  color: #f4511e;
}

#Signout:hover{
  color: #f4511e;
}
#Signout a{
  text-decoration: none;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
  color:white;
  margin-left: 62%;
  float:right;
}

#Signup_php{
  text-decoration: none;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
  color:white;
  display: inline-block;
  margin-left: 62%;
}

#Signup_php:hover{
  color: #f4511e;
}

*:focus {
    outline: none;
}


.Adv-Opt{
  display: inline-block;
	width: 120px;
	border-radius: 3px;
	overflow: hidden;

  background: #fafafa;
}

.Adv-Opt select {
    padding-top:5px;
    padding-bottom: 5px;
    width: 100%;
    background: white;
		font-size: 14px;
}

.Adv-Opt select:focus {
    outline: none;
}

option:hover {
    outline: none;
		color:purple;
}



/* SEARCH CSS --------------------------------------------------------------------*/
#boxAndDropdown{

}

#bgimageContainer{
	margin: 0;
  border: 0;
  padding: 0;

	width:100%;
	background-size: cover;
  background-image:url("background_veg.jpg");
}


#searchBox{
  background-image:url("search_icon.png");
  padding: 12px 20px 12px 50px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border-radius:25px;
  border:1px solid grey;
  width:25%;
  margin-top:20px;
  margin-bottom: 18px;

  background-position: left center;
  background-position: 10px 10px;

  transition: width 0.4s;
}

#searchBox:focus{
	background-image:url("search_icon.png");
  padding: 12px 20px 12px 50px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border-radius:25px;
  border:1px solid grey;
  width:25%;
  margin-top:20px;

  background-position: left center;
  background-position: 10px 10px;
  width: 32%;
}

.loginBox_php{
  padding: 12px 20px 12px 50px;
  border-radius:25px;
  border:1px solid grey;
  width:25%;
  margin-top:20px;

  transition: width 0.4s;
}

.loginBox_php:focus{
  padding: 12px 20px 12px 50px;
  border-radius:25px;
  border:1px solid grey;
  width:35%;
  margin-top:20px;

  width: 32%;
}

.login_instr{
  color:white;
  font-size:20px;
  font-family: 'Oswald', sans-serif;

}

#blackwrapper{
  background-color: rgba(2,2,2,0.60);
  margin: 0;
  border: 0;
  padding: 0;
  height:200vh;
}

#blackwrapper_php{
  background-color: rgba(2,2,2,0.60);
  margin: 0;
  border: 0;
  padding: 0;
  height:100vh;
}

#Title{
  margin: 0;
  border: 0;
  padding: 0;
  color:white;
  font-size: 65px;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin-left: 5%;
  text-decoration: none;
}
#Title a {
  text-decoration: none;
  color:inherit;
}
#maindiv{
  width:100%;
  text-align: center;
}

#searchBtn{
	border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 10%;
  transition: all 0.2s;
  cursor: pointer;
	margin-left: 3%;
	font-family: 'Merriweather Sans', sans-serif;

  display: inline-block;
}

#searchBtn:hover{
  transition: transform 0.2s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* CARD CSS -------------------------------------------------------------------------*/
.card{
  text-align: left;
  font-family: 'Shadows Into Light';
  font-style: bold;
}

.card a{
  text-align: left;
  text-decoration: none;
  color:black;
  font-size: 19px;
  font-style: bold;
}

.out-container{
  background-color: yellow;
  border: 10px solid black;
}
.image.is-square{
  margin: 0 auto;
}

.image.is-square img{
  border-radius: 20px;
}

.card-image{
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  padding-top:10px;
  padding-bottom: 10px;
}

.cardContainer{
  border-radius: 30px;
  background-color:rgba(242, 223, 118,0.95);
  margin:0 auto;
  display: block;
  width:40%;
}
.ingredients{
  font-weight: bold;
}

.recipe-name{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.ing-text{
text-align: center;
}
#favorite{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 10%;
  transition: all 0.2s;
  cursor: pointer;
	margin-left: 17%;
	font-family: 'Merriweather Sans', sans-serif;

  display: none;

}
/* SLICK CAROUSEL ----------------------------------------*/
.vertical-center{
  position: relative;
}

.slider {
  transition: all 4s;
  position: relative;
  top:50px;
  left:5%;
  width: 35%;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}


/*Nutrition Label -------------------------------------------------------------*/
.image {
  width: 250px;
  margin: 20px;
}

body {
  font-size: small;
  line-height: 1.4;
}

p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  width: 280px;
  padding: 0.5rem;
  background-color: white;
  float: right;
  margin-top: 70px;
  margin-right: 7%;
}
.performance-facts table {
  border-collapse: collapse;
}

.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 10px solid black;
  background-color: white;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
  margin: 0;
}

.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
  width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th,
.performance-facts__table thead tr td,
.performance-facts__table--small thead tr td,
.performance-facts__table--grid thead tr td {
  border: 0;
}
.performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th,
.performance-facts__table td,
.performance-facts__table--small td,
.performance-facts__table--grid td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}
.performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
  text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
  width: 1rem;
  border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th,
.performance-facts__table .thick-row td,
.performance-facts__table--small .thick-row td,
.performance-facts__table--grid .thick-row td {
  border-top-width: 5px;
}

.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
  border-bottom: 1px solid black;
}
.performance-facts__table--small td:last-child {
  text-align: left;
}
.performance-facts__table--small th,
.performance-facts__table--small td {
  border: 0;
  padding: 0;
}

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
  text-align: left;
}
.performance-facts__table--grid td:last-child::before {
  content: "•";
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

.text-center {
  text-align: center;
}

.thick-end {
  border-bottom: 10px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}
